services:
  artbite-redis:
    image: redis:6-alpine
    container_name: artbite-redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - artbite-net

volumes:
  redisdata:

networks:
  artbite-net:
    external: true
