# Development Profile (for Docker Compose)
spring:
  jpa:
    hibernate:
      # 개발 환경에서는 스키마 자동 업데이트를 사용합니다.
      ddl-auto: update
    # 데이터베이스 플랫폼은 PostgreSQL로 지정합니다.
    database-platform: org.hibernate.dialect.PostgreSQLDialect

# 개발 환경에서는 인증/인가 경로 외에도 필요한 경로를 화이트리스트에 추가할 수 있습니다.
security:
  whitelisted-paths: /api/auth/signup, /api/auth/login, /api/auth/reissue, /oauth2/**, /login/oauth2/code/**, /swagger-ui/**, /v3/api-docs/**, /swagger-resources/**, /webjars/**, /login-test-page, /api/notes/published/today-cover, /actuator/health

cors:
  allowed-origins: ${CORS_URL:-http://localhost:3000}

jwt:
  access-token-expire-time: ${JWT_ACCESS_TOKEN_EXPIRE_TIME}
  refresh-token-expire-time: ${JWT_REFRESH_TOKEN_EXPIRE_TIME}
