# Production Profile
spring:
  jpa:
    hibernate:
      # 운영 환경에서는 스키마 검증을 사용합니다.
      ddl-auto: validate
    # 데이터베이스 플랫폼은 운영 환경에 맞춰 지정합니다.
    database-platform: ${SPRING_JPA_DATABASE_PLATFORM:org.hibernate.dialect.PostgreSQLDialect}

# 운영 환경에서는 필수적인 인증/인가 경로 외에는 화이트리스트를 최소화합니다.
security:
  whitelisted-paths: /api/auth/signup, /api/auth/login, /api/auth/reissue, /oauth2/**, /login/oauth2/code/**

cors:
  allowed-origins: ${CORS_URL}

jwt:
  access-token-expire-time: ${JWT_ACCESS_TOKEN_EXPIRE_TIME}
  refresh-token-expire-time: ${JWT_REFRESH_TOKEN_EXPIRE_TIME}

payment:
  toss:
    test_client_api_key: ${TOSS_PAYMENTS_TEST_CLIENT_API_KEY}
    test_secret_api_key: ${TOSS_PAYMENTS_TEST_SECRET_API_KEY}
    success_url: "http://localhost:8080/api/payments/toss/success"
    fail_url: "http://localhost:8080/api/payments/toss/fail"
    membership_amount: 1500 # 월간 구독 금액
    frontend_success_url: "/payment/success" # 프론트엔드 성공 경로
    frontend_fail_url: "/payment/fail" # 프론트엔드 실패 경로
